#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* user component */
.container {
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 20px;
  border: 3px solid black;
}

.input-box {
  margin-bottom: 15px;
}

.input-box span {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 3px solid black;
}

.address-map-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  border: 3px solid black;
  padding: 15px;
}

.address-fields {
  flex: 1 1 200px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.address-fields span {
  display: block;
  padding: 10px;
  font-size: 16px;
  border: 3px solid black;
}

.map-box {
  flex: 1 1 300px;
  border: 3px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .address-map-container {
    flex-direction: column;
  }

  .map-box {
    height: 250px;
  }
}